.IP {
    background-color: blue;
}

.FUNDAMENTOS {
    background-color: aqua;
}

.SEGURIDAD-INFORMATICA {
    background-color: chocolate;
}

.INGLES {
    background-color: darkviolet;
}

.SISTEMAS-OPERATIVOS { 
    background-color: darkgreen;
}

.SERVICIO-EN-RED {
    background-color: firebrick;
}

.APLICACIONES-WEB {
    background-color: goldenrod;
}

.PROYECTO {
    background-color: lime;
}
